.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.form textarea {
    width: 300px;
    height: 200px;
    display: block;
    margin-top: 10px;
}

.form input[type='text'] {
    background-color: cornsilk;
    display: block;
    margin-top: 10px;
}

.form input[type='submit'] {
    background-color: crimson;
    margin-top: 5px;
}
